<form>
    <div class="form-top">
        <h3>ESTIMATED SHIPPING & TAX</h3>
        <div class="form-control checkbox">
            <input name="home-delivery" id="home-delivery" type="checkbox">
            <label for="home-delivery">Insure Items <a class="details" href="#">See Details</a></label>
        </div>
        <div class="form-control">
            <select name="" id="">
                <option value="">Pickup</option>
                <option value="">Delivery</option>
            </select>
        </div>
        <div class="form-control zip">
            <label for="zip-code">Zip Code</label>
            <input class="zip" type="text" name="zip-code" id="zip-code" placeholder="Enter zip code">
        </div>
    </div>
    <div class="form-bottom">
        <div class="summary">
            <p style="font-weight: bold;">Subtotal:</p>
            <p style="font-weight: bold;">$169.99</p>
        </div>
        <div class="summary">
            <p>Shipping</p>
            <p>Calculate Above</p>
        </div>
        <div style="border-bottom: 1px solid #000;" class="summary">
            <p>Sales Tax</p>
            <p>Calculate Above</p>
        </div>
        <div class="summary">
            <p style="font-weight: bold;">Total:</p>
            <p style="font-weight: bold;">$169.99</p>
        </div>
        <button class="custom-button">
            <span class="material-symbols-outlined">
                check_circle
            </span>
            Checkout
        </button>
    </div>
</form>
