nav{
    display: flex;
    align-items: center;
    gap: 1rem;
    /* border-bottom: .5px #cac9c9 solid; */
    padding: 10px;
    width: 100vw;
    background-color: #fff;
    /* flex: 1 1 auto; */
}
nav > * {
    flex: 1 1 auto;
}
nav h4{
    font-size: 2rem;
    color: #EA4335;
    /* text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}
nav ul{
    display: flex;
    list-style: none;
    gap: 1rem;
}
nav ul li a{
    text-decoration: none;
}
.icons-and-search{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.material-symbols-outlined{
    color: #838383;
    cursor: pointer;
}