<nav>
    <h4>nanoflux</h4>
    <ul>
        <li><a href="">Fire Pits</a></li>
        <li><a href="">Pizza Oven</a></li>
        <li><a href="">Grill</a></li>
        <li><a href="">Camp Stoves</a></li>
        <li><a href="">Corporate Sales</a></li>
    </ul>
    <div class="icons-and-search">
        <app-searchbar></app-searchbar>
        <span class="material-symbols-outlined">mail</span>
        <span class="material-symbols-outlined">person</span>
        <span class="material-symbols-outlined">notifications</span>
        <span class="material-symbols-outlined">shopping_cart_checkout</span>
    </div>
</nav>
